<p id="notice"><%= notice %></p>

<div class="profile-page-container">
  <h1><%= t('clients.inputs.registration') %></h1>

  <%= bootstrap_form_with(model: @client, local: true) do |form| %>
    <div class="profile-page-form">
      <%= form.text_field :surname, bootstrap: { label: { hide: true} }, placeholder: t('clients.inputs.surname') %>
      <%= form.text_field :forename, bootstrap: { label: { hide: true} }, placeholder: t('clients.inputs.forname') %>
      <%= form.text_field :middle_name, bootstrap: { label: { hide: true} },
                          placeholder: t('clients.inputs.middle_name') %>
      <%= form.date_select :birthday, bootstrap: { label: { hide: true} }, placeholder: t('clients.inputs.birthday') %>
      <%= form.text_field :street, bootstrap: { label: { hide: true} }, placeholder: t('clients.inputs.street') %>
      <%= form.number_field :number_home, bootstrap: { label: { hide: true} },
                            placeholder: t('clients.inputs.number_home') %>
      <%= form.text_field :number_appartment, bootstrap: { label: { hide: true} },
                          placeholder: t('clients.inputs.number_appartment') %>
      <%= form.text_field :phone, bootstrap: { label: { hide: true} }, placeholder: t('clients.inputs.phone') %>
      <%= form.text_field :password, bootstrap: { label: { hide: true} },
                          placeholder: t('clients.inputs.password'), type: 'password' %>
      <%= form.submit t('clients.inputs.sign_up'), class: 'btn btn-bg btn-primary' %>
    </div>
  <% end %>
</div>

