<p id="notice"><%= notice %></p>

<p>
  <strong>Surname:</strong>
  <%= @client.surname %>
</p>

<p>
  <strong>Forename:</strong>
  <%= @client.forename %>
</p>

<p>
  <strong>Middle name:</strong>
  <%= @client.middle_name %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @client.birthday %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @client.phone %>
</p>

<p>
  <strong>Password:</strong>
  <%= @client.password %>
</p>

<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>
